<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(main)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/bootstrap-5.3.3/css/bootstrap.min.css" th:href="@{/bootstrap-5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/bootstrap-5.3.3/css/app.css" th:href="@{/bootstrap-5.3.3/css/app.css}">
</head>
<body>

    <div class="container">
        <section id="header">
            <img id="logo" src="../../static/images/logo.png" alt="" th:src="@{/images/logo.png}">
            <img id="logoText" src="../../static/images/logoText.png" alt="" th:src="@{/images/logoText.png}">
            <img id="stalk" src="../../static/images/stalk.png" alt="" th:src="@{/images/stalk.png}">
        </section>
    </div>

    <div>
        <div class="row my-3">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <a th:href="@{/shopping/ui/view-cart}">
                    <img th:src="@{/images/cart.gif}" width="30px" height="30px" alt=""> <span th:text="${cartSize}"></span>
                </a>
            </div>
        </div>
    </div>

    <div th:replace="${main}"></div>

    <footer>
        <div class="container-fluid bg-dark text-white p-5 mt-5">
            <div class="row">
                <div class="col">
                    <p class="text-center lead">CopyRight &copy; AffableBean</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>